*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app{
    width: 500px;
    margin: 40px auto;
}

.app h1{
    text-align: center;
    margin-bottom: 20px;
}

.card{
    border: 2px solid black;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
}

button{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

input{
    padding: 4px;
    border-radius: 8px;
}

button:hover{
    cursor: pointer;
}

.form-group{
    /* border: 1px solid red; */
    margin: 10px;
}